footer {
    background-color: var(--ligth-tertiary-color);
}

footer .footer__content{
    text-align: center;
    padding: 6rem 2rem 1rem;
    max-width: 47rem;
}

footer .footer__content .footer__contact span{
    display: block;
    font-weight: 500;
}

footer .footer__content ul li{
    display: inline-block;
}

footer .footer__content ul li a{
    display: inline-block;
    padding: 1rem;
}

footer .footer__content .footer__copyrigth{
    font-size: 1.4rem;
}

