@import './general.css';
@import './navbar.css';
@import './header.css';
@import './main.css';
@import './sectionicons.css';
@import './services.css';
@import './contact.css';
@import './depoiments.css';
@import './footer.css';
@import './politicas.css';
@import './animation.css';