footer nav{
    height: 240px;
    flex-direction: column-reverse;
}
footer nav ul{
    padding-top: 2rem;
    display: none;
}
footer nav img{
    width: 200px;
}

@media (max-width:868px){
    footer ul{
        display: none;
    }
    footer nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}