/* Configurações gerais */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 98vh;
    font-family: Arial, Helvetica, sans-serif !important;
    line-height: none !important;
    color: #000;
    font-size: inherit;
}
h3{
    margin: 0 ;
    padding: 0;
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background-color:skyblue;
}


@media only screen and (max-width: 1024px) {
    html {
      font-size: 60%;
    }
  
    h1 {
      font-size: 6rem;
    }
  }
  
  @media only screen and (max-width: 768px) {
    html {
      font-size: 58%;
    }
  
    .max-width {
      padding: 0 2rem;
    }
  }
  
  @media only screen and (max-width: 425px) {
    h1 {
      font-size: 4.2rem;
    }
  }