.logo-item{
    width: 130px;
    margin-left: 15px;
}
#plt_nav{
    width: 50%;
}
footer a{
    cursor: pointer;
}
#plt-head{
    background-color: black;
    height: 130px;
    min-height: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}
#plt_main{
    max-width: 850px;
    min-width: 320px;
    margin: auto;
    padding-top: 0;
    flex-direction: column;
}
#plt_main section{
    margin-bottom: 50px;
}
#plt_main h1{
    font-size: 3em;
    letter-spacing: 2px;
}
.plt p{
    font-size: 1.5em;
    margin-top: 10px;
    line-height: 23px;
    word-spacing: 5px;
    text-align: justify;
    text-indent: 25px;
}
@media (max-width: 1200px){
    #plt_nav{
        width: 100%;
    }
}
@media (max-width: 800px){
    #plt_nav{
        width: 10%;
    }
    #plt_main{
        padding:15px ;
    }

    #plt-head{
        justify-content: space-between;
    }
}
@media (max-width: 500px){
    #plt-head{
        width: 100vw;
    }
}