/* Configuração do Article */

.title{
    text-align: center;
    margin: 40px 0 40px 0;
    font-size: 5.5em;
    font-weight: bold;
    padding-top: 135px;
    scroll-margin-top: 20rem;
}
.titulo{
    text-align: center;
    margin: 40px 0 40px 0;
    font-size: 5.5em;
    font-weight: bold;
    scroll-margin-top: 10rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.1;
    color: inherit;
}
h1{
    font-size: unset;
    margin: 0;
}

article{
    min-height: 100vh;
    background-image: url('../assets/wallpaper004.jpg');
    filter: brightness(0.99) opacity(1);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    scroll-margin-top: 20rem;
}
.boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.circle h1{
    font-size: 2em;
}
#box2 .circle{
    margin-top: 79px;
}
#box3 .circle{
    margin-top: 98px;
}
.boxes .circle{
    background-color: #f1f1f1;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    position: fixed;
}
article > section > .circle{
    background-color: rgb(230, 230, 230);
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    position: fixed;
}

article section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 350px;
    background-color: #fff;
    padding: 25px;
    font-family: Helvetica, sans-serif;
}
#circlepen{
    margin-top: 58px;
}
#pentest{
    height: 410px;
    margin-top: 85px;
}
.caixa{
    width: 300px;
}
.caixa h2{
    font-size: 25px;
    margin-top: 65px;
}
.caixa p{
    font-size: 1.5em;
}
#gerenciamento{
    height: 430px;
    margin-top: 106px;
}
#consultoria{
    height: 450px;
    margin-top: 126px;
}
article section h2{
    font-weight: normal;
    margin-bottom: 30px;
    margin-top: 4rem;
}
article section p{
    word-spacing: 2px;
    line-height: 25px;
    letter-spacing: 1px;
    margin-bottom: 55px;
}
article section a{
    text-decoration: none !important;
    color: #fff;
    padding: 10px 30px;
    background-color: #0057E1;
    font-size: small;
    cursor: pointer;
    transition: 1s ease;
}
article section a:hover{
    background-color: #fff;
    color: #0057E1;
    border: 1px solid #0057E1;
}

#btn_agenda{
    margin-bottom: 0px;
}

@media (max-width:950px) {
    #servicos{
        display: flex;
        flex-direction: column;
    }
    article{
        background-size: cover;
    }
}
