header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    scroll-margin-top: 20rem;
}

header .header__left{
    max-width: 62rem;
    flex: 1;
}

header .header__left p{
    max-width: 50rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

header .header__rigth .header__image{
    position: relative;
    line-height: 0;
}

header .header__rigth .header__image::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #F586CA;
    position: absolute;
    top: -1.5rem;
    right: -1.5rem;
    border-radius: 0.5rem;
    z-index: -1;
}

header .header__rigth .header__image .lucas{
    border-radius: 0.5rem;
    width: 375px;
}
header .header__rigth .header__image .lucas:hover{
    width: 400px;
    transition: 1s;
}

header .header__rigth .header__image .background{
    position: absolute;
    top: -4rem;
    right: -2.5rem;
    z-index: -1;
}

@media only screen and (max-width: 768px) {
    header{
        flex-direction: column-reverse;
        text-align: center;
    }

    header .header__left p{
        margin: 2rem auto 4rem;
    }
}
