@charset "UTF-8";

/* Outros dispositivos */

/* Tablets */

@media screen and (min-width: 600px) and (max-width: 992px){
    main{
        display: flex;
        flex-direction: row;
    }
    #img img{
        display: block;
        height: 347px;
        min-width: 295px;
        border-radius: 15px 0px 0px 15px;
    }
}

/* Desktop */

@media screen and (min-width: 992px){
    main{
        flex-direction: row-reverse;
    }
    #img img{
        display: block;
        height: 347px;
        min-width: 295px;
        border-radius: 0px 15px 15px 0px;
    }
    #login{
        width: 350px;
        display: flex;
        justify-content: center;
    }
}