*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: url('imagens/fundo-madeira.jpg');
    background-size: cover;
}

#phone iframe{
    margin-top: 10px;
    min-height: 660px;
    width: 330px;
}