/* Configurações gerais */

*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 98vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* Configuração da Navbar */

nav img{
    width: 130px;
    margin-right: 32px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 180px;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 32px;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    
}
nav a:hover{
    background-color: #fff;
    color: rgb(32, 80, 99);
    
    transition-duration: .8s;
}

/* Configuração do Header */

header{
    background-image: url('assets/slide-one.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header a{
    text-decoration: none;
    color: black;
    padding: 10px 70px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 7rem;
    font-size: 1.1em;
    font-weight: normal;
    position: absolute;
}
header a:hover{
    background-color: skyblue;
    border: none;
    color: #fff;
    transition-duration: .8s;
}
header h1{
    background-color: #555;
    color: #fff;
    text-shadow: 1px 1px 10px black;
    letter-spacing: 7px;
    font-size: 3em;
    position: absolute;
    margin-top: 32px;
}

/* Configuração da Section Icons */

section#icons{
    display: flex;
    justify-content: space-evenly;
    margin: 60px 0;
}
section div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section div img{
    width: 90px;
    height: 90px;
}
section div small{
    font: normal bolder 0.7em arial;
}

/* Configuração do Main */

main{
    display: flex;
    margin: 30px 0;
}
main section{
    padding: 40px 0 0 25px;
    width: 100%;
}
main section h2{
    font: normal bold 1.6em arial;
    letter-spacing: 4px;
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
}
main section h2:after{
    content: ''; 
    position: absolute;
    bottom: -5px; 
    left: 50%;
    transform: translateX(-50%);
    width: 90%; 
    height: 1px;
    background-color: #000;
}
main section p{
    width: 338px;
    line-height: 23px;
}
main section div{
    height: 10px;
    width: 550px;
    background-color: #1f1f1f;
    display: flex;
    margin-top: 80px;
    float: right;
}
