/* Configurações gerais */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    min-height: 98vh;
    font-family: Arial, Helvetica, sans-serif !important;
    line-height: none !important;
    color: #000;
    font-size: inherit;
}
h3{
    margin: 0 ;
    padding: 0;
}

/* Configuração da Navbar */

nav img{
    width: 130px;
    margin-right: 32px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 180px;     
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 32px;
}
nav a{
    text-decoration: none !important;
    color: white;
    padding: 10px 20px;
    font-size: 1.6em !important;
}
nav a:hover{
    background-color: #fff;
    color: rgb(32, 80, 99) !important;
    transition-duration: .8s;
}

/* Configuração do Header */
header  .containeer{
    width: 100%;
    margin: 0 ;
    padding: 0;
}

header{
    min-height: 97vh;
}
header img{
    width: 100%;
}





.slider_content{
    position: absolute;
    top: 45%;
    left: 50%;
    transform:translateX(-50%);
    text-align: center;
}
.slider_content a{
    text-decoration: none;
    color: black;
    padding: 12px 95px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 1000px;
    margin-bottom: 7rem;
    font-size: 1.5em;
    font-weight: normal;
    transition: 1s ease;
    text-transform: uppercase;
    box-shadow: 0 0 60px rgba(0, 255, 204, 0.267);

}
.slider_content a:hover{
    background: #689ADE;
    border: none;
    color: #fff;
}
.slider_content h1{
    background-color: #555;
    color: #fff;
    text-shadow: 1px 1px 10px black;
    letter-spacing: 7px;
    font-size: 6em;
    display: inline-block;
    margin-top: 32px;
    font-weight: normal;
    
}
#psi{
    margin-bottom: 32px;
    font-size: 5.5em;
}



/* Configuração da Section Icons */

section#icons{
    display: flex;
    justify-content: space-evenly;
    margin: 60px 0 80px 0;
}
section div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section div img{
    width: 90px;
    height: 90px;
}
section div small{
    font: normal bolder 1.1em arial;
    color: #000;
}

/* Configuração do Main */

main{
    display: flex;
    margin: 30px 0;
}
main section{
    padding: 40px 0 0 25px;
    width: 100%;
}
main section h2{
    font: normal bold 2.7em arial;
    letter-spacing: 4px;
    margin-bottom: 20px;
    margin-top: 0;
    display: inline-block;
    position: relative;
}
main section h2:after{
    content: ''; 
    position: absolute;
    bottom: -5px; 
    left: 50%;
    transform: translateX(-50%);
    width: 90%; 
    height: 1px;
    background-color: #000;
}
main section .p_especial{
    width: 338px;
    line-height: 23px;
    font-size: 1.5em;
}
main section div{
    height: 10px;
    width: 550px;
    background-color: #1f1f1f;
    display: flex;
    margin-top: 80px;
    float: right;
    margin-bottom: 40px;
}

/* Configuração da Section Box */

.box{
    display: flex;
    width: 95%;
    padding-left: 40px;
}

#missao h3{
    color: #fff;
    background-color: rgb(111, 172, 196);
    font-weight: normal;
    letter-spacing: 2px;
}
#visao h3{
    color: #fff;
    background-color: #555;
    font-weight: normal;
    letter-spacing: 2px;
}
#valores h3{
    color: #fff;
    background-color: rgb(34, 34, 94);
    font-weight: normal;
    letter-spacing: 2px;
}

#missao p, #visao p, #valores p{
    background-color: lightgray;
    text-align: justify;
    padding: 8px 10px 20px;
    border-radius: 0 0px 0 20px;
    font-weight: normal;
    height: 110px;
    font-size: 1.09em;
    letter-spacing: 0.5px;

}

.container{
    width: 218px ;
    padding: 0;
}
.container h3{
    font-size: 1.8em;
}
#missao span{
    display: flex;
    color: #fff;
    background-color:rgb(111, 172, 196);;
    font-weight: normal;
    letter-spacing: 2px;
    padding: 4px;
    border-radius: 0 10px 0 0;
    align-items: center;
    gap: 8px;

}
span img{
    width: 30px;
}
#visao span{
    display: flex;
    color: #fff;
    background-color: #555;
    font-weight: normal;
    letter-spacing: 2px;
    padding: 4px;
    border-radius: 0 10px 0 0;
    align-items: center;
    gap: 8px;
}

#valores span{
    display: flex;
    color: #fff;
    background-color: rgb(34, 34, 94);;
    font-weight: normal;
    letter-spacing: 2px;
    padding: 4px;
    border-radius: 0 10px 0 0;
    align-items: center;
    gap: 5px;
}

/* Configuração do Article */

.title{
    text-align: center;
    margin: 160px 0 40px 0;
    font-size: 5.5em;
    font-weight: bold;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.1;
    color: inherit;
}
h1{
    font-size: unset;
    margin: 0;
}

article{
    min-height: 100vh;
    background-image: url('assets/wallpaper004.jpg');
    filter: brightness(0.99) opacity(1);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.circle h1{
    font-size: 2em;
}
#box2 .circle{
    margin-top: 79px;
}
#box3 .circle{
    margin-top: 98px;
}
.boxes .circle{
    background-color: #f1f1f1;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    position: fixed;
}
article > section > .circle{
    background-color: rgb(230, 230, 230);
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    position: fixed;
}

article section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 350px;
    background-color: #fff;
    padding: 25px;
    font-family: Helvetica, sans-serif;
}
#circlepen{
    margin-top: 58px;
}
#pentest{
    height: 410px;
    margin-top: 85px;
}
.caixa{
    width: 300px;
}
.caixa h2{
    font-size: 25px;
    margin-top: 65px;
}
.caixa p{
    font-size: 1.5em;
}
#gerenciamento{
    height: 430px;
    margin-top: 106px;
}
#consultoria{
    height: 450px;
    margin-top: 126px;
}
article section h2{
    font-weight: normal;
    margin-bottom: 30px;
    margin-top: 4rem;
}
article section p{
    word-spacing: 2px;
    line-height: 25px;
    letter-spacing: 1px;
    margin-bottom: 55px;
}
article section a{
    text-decoration: none !important;
    color: #fff;
    padding: 10px 30px;
    background-color: #0057E1;
    font-size: small;
    cursor: pointer;
    transition: 1s ease;
}
article section a:hover{
    background-color: #fff;
    color: #0057E1;
    border: 1px solid #0057E1;
}

#btn_agenda{
    margin-bottom: 0px;
}


/* Contato Style */

#contact_title{
    margin-top: 100px;
    text-align: start;
    margin-left: 200px;
    margin-bottom: 0;
}

#contato{
    min-height: 90vh;
}
#info_contact{
    margin-top: 20px;
    margin-left: 100px;
}
.icones_contact{
    display: flex;
    align-items: center;
    gap: 3.5rem;
    margin: 25px 0;
    padding: 10px;
    font-size: 1.35em;
}
.icon{
    width: 32px;
}
.icones_contact p{
    margin: 0;
}
#socials-icons{
    display: flex;
    gap: 1rem;
}

/* Form Style */
form{
    padding: 20px;
    font-size: 1.35em;
    width: 450px;
    margin-top: 30px;
    margin-right: 130px;
}
#form_box{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#form_group{
    display: flex;
    justify-content: space-between;
}

.row_form{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
label{
    font-weight: normal;
    margin: 0;
    letter-spacing: 1.5px;

}
input{
    padding: 10px;
    border: 1px solid black;
    letter-spacing: 1px;
    margin-top: 5px;
    border-radius: 20px;
    outline: none;
}
input:hover{
    border: 1px solid #0057E1;
}
#form_btn{
    display: flex;
    justify-content: end;
}
#form_btn a{
    text-decoration: none !important;
    color: #fff;
    padding: 10px 30px;
    background-color: #0057E1;
    font-size: small;
    cursor: pointer;
    transition: 1s ease;
}
#form_btn a:hover{
    background-color: #fff;
    color: #0057E1;
    border: 1px solid #0057E1;
}


#mapBox{
    padding: 20px;
}
#maps_box{
    border-top:1px solid black ;
    width: 1100px;
    margin: auto;
    height: 300px;
}
#maps_box iframe{
    width: 100%;
    height: 100%;
    margin: 30px 0;
}


/* Seção de Depoimentos */

#depoiments{
    min-height: 95vh;
}
#depoiment_title p{
    font-weight: normal;
    margin: 10px auto 10px;
    width: 270px;
    line-height: 23px;
}
#dep_content{
    border: 1px solid black;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 270px;
}
.depCards{
    width: 250px;
    height: 350px;
    box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.445);
}

/* Creating a box with a text
           and some stylings  */
        .speech {
            width: 350px;
            background: gray;
            padding: 30px;
            text-align: center;
            font-size: 35px;
            border-radius: 35px;
            color: white;
            position: relative;
            align-self: flex-end;
        }
  
        /* Creates triangular tip on the
           end, for our speech bubble 
           with some styling */
        .speech:before {
            content: "";
            position: absolute;
            border-left: 20px solid gray;
            border-right: 20px solid transparent;
            border-top: 20px solid gray;
            border-bottom: 20px solid transparent;
            right: -27px;
            top: 37px;
        }



        .spech::before{
            content: "";
            position: absolute;
            border-left: 20px solid transparent;
            border-right: 20px solid gray;
            border-top: 20px solid transparent;
            border-bottom: 20px solid gray;
            right: 339px;
            top: 26px;
        }
        .spech {
            width: 350px;
            background: gray;
            padding: 30px;
            text-align: center;
            font-size: 35px;
            border-radius: 35px;
            color: white;
            position: relative;
            align-self: flex-start;
        }