@charset " UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    min-height: 99vh;
    min-width: 97vw;
    background-color: black;
}
body{
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center fixed;
    background-size: cover;
}
main{
    position: relative;
    height: 100vh;
}
#tell{
    position: absolute;
    height: 627px;
    width: 311px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:url('../imagens/frame-iphone.png') no-repeat;
}

#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 268px;
    height: 471px;
}