@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    min-height: 99vh;
    min-width: 97vw;
    background-color: black;
}
body{
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center fixed;
    background-size: cover;
    overflow: hidden;
}
main{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
#tell{
    height: 627px;
    width: 311px;
    background:url('../imagens/frame-iphone.png') no-repeat;
}
#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 268px;
    height: 471px;
}
#socials{
    display: flex;
    flex-direction: column;
    z-index: 9999;
}
#socials img{
    border-radius: 50%;
    width: 50px;
    margin: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35);
    transition: .2s ease;
}

#socials img:hover{
    border: 2px solid rgba(255, 255, 255, 0.658);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.486);
}
