@charset " UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    min-height: 99vh;
    min-width: 97vw;
    background-color: black;
}
main{
    position: relative;
    height: 100vh;
    background-color: gray;
}
#tell{
    position: absolute;
    height: 500px;
    width: 500px;
    background-color: blue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}