@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

/* General Styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fontetitulo: 'Passion One';
    --fontepoema: 'Sriracha';
}

body{
    min-height: 100vh;
}

/* Header Style */

header{
    background-color: black;
    text-align: center;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header h1{
    font: normal 600 7.5em var(--fontetitulo);
    color: white;
}
header p{
    font: normal 500 1.1em Arial;
    color: white;

}
header p a{
    font: normal normal 1.1em var(--fontetitulo);
    color: white;
    text-decoration: none;
}
header p a:hover{
    text-decoration: underline;
}

main p{
    font-family: var(--fontepoema);
}

/* poema style */

.poema{
    padding: 20px 25px;
    font-size: 3em;
    background-color: #fff;
}
.poema p{
    margin: 70px 0px 100px;
}

/* efeito parallax */

.imagem-de-fundo-one{
    padding: 20px 25px;
    font-size: 3em;
    background-image: url('imagens/background001.jpg');
    color: #fff;
    min-height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagem-de-fundo-one p{
    margin: 70px 0px 100px;
    background-color: rgba(0, 0, 0, 0.253);
    padding: 15px;
    display: inline-block;
}
.imagem-de-fundo-two{
    padding: 20px 25px;
    font-size: 3em;
    background-image: url('imagens/background002.jpg');
    color: #fff;
    min-height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagem-de-fundo-two p{
    margin: 70px 0px 100px;
    background-color: rgba(0, 0, 0, 0.253);
    padding: 15px;
    display: inline-block;
}


/* footer style */

footer{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    text-align: center;
    padding: 7px 0
}
footer a{
    text-decoration: none;
    color: #fff;
}
footer a:hover{
    text-decoration: underline;
}

@media screen and (min-width: 532px) and (max-width: 800px) {
    header h1{
        font: normal 600 5em var(--fontetitulo);
    }
    .poema, .imagem-de-fundo-one, .imagem-de-fundo-two{
        font-size: 2.5em;
    }
}

@media screen and (min-width: 320px) and (max-width: 532px) {

    header h1{
        font: normal 600 3.5em var(--fontetitulo);
    }

    .poema,.imagem-de-fundo-one, .imagem-de-fundo-two{
        font-size: 1.7em;
    }
    footer{
        font-size: .8em;
    }
}