@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:1200px){
    #projects{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
    main{
        width: auto;
    }
    
    h2{
        margin-left: 50px;
    }
}

@media screen and (min-width:1200px) {
    body{
        width: clamp(1200px, 100%, 1440px);
        margin: auto;
    }
    main{
        width: 100%;
    }
    h2{
        margin-left: 50px;
        font-size: 1.7em;
    }
    
    #projects{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }   

    .projectClasse{
        width: 600px;
        height: 300px;
    }
    .info-project{
        width: 590px;
    }
    .icons{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .icone{
        font-size: 60px;
    }
    h4{
        font-size: 1.5em;
    }
}