@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
    --branco-fumaca: #e7e7e7;
    --main-font: "Oswald", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    background-color: var(--branco-fumaca);
    font-family: var(--main-font);
}

body{
    min-height: 100vh;
}

header{
    background-color: #fff;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

header h1{
    font-size: 1.5em;
}

section h2{
    font-size: 1.3em;
    align-self: flex-start;
    margin-left: 20px;
}

#projects{
    margin-top: 25px;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.projectClasse{
    width: 400px;
    height: 200px;
    margin: 20px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: .1s ease;
    display: flex;
    align-items: end;
}
.projectClasse:hover{

    box-shadow: inset -20px -20px 35px black;
}
h3{
    padding: 5px;
    color:var(--branco-fumaca);
    letter-spacing: .5px;
    font-weight: normal;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.792);
}

#p2 h3{
    text-shadow: 0px 0px 5px black;
}

#project1{
    background: black url('../imgs/tencobus.png') no-repeat top center;
    background-size: cover;
}
#project2{
    background: black url('../imgs/diskdiaristapg.png') no-repeat top center;
    background-size: cover;
}
#project3{
    background: black url('../imgs/secking.png') no-repeat top center;
    background-size: cover;
}

#p1{
    display: none;
    transition: .3s ease;
}
#p2{
    display: none;
    transition: .3s ease;
}
#p3{
    display: none;
    transition: .3s ease;
}

.projeto{
    display: none;
}