@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
    --branco-fumaca: #e7e7e7;
    --main-font: "Oswald", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    background-color: var(--branco-fumaca);
    font-family: var(--main-font);
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
main{
    margin-top: 90px;
    width: min-content;
}
header{
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 0;
    z-index: 9999;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

header h1{
    font-size: 1.5em;
}

h2{
    align-self: self-start;
    font-size: 1.3em;
    margin-left: 20px;
}

#projects{
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.projectContent{
    margin-bottom: 32px;
}

.icons{
    position: absolute;
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    justify-content: center;
    gap: 45px;
    top: 0;
    z-index: 20;
    width: 410px;
    height: 210px;
}
.iconsMobile{
    display: none;
    flex-flow: row nowrap;
    align-self: flex-start;
    gap: 10px;
}
.iconContent{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 3px;
}
span > .icone{
    font-size: 40px !important; 
    cursor: pointer;
}
.icone:hover{
    color: #222;
}

.projectClasse{
    position: relative;
    display: flex;
    align-items: end;
    cursor: pointer;
    width: 400px;
    height: 200px;
    margin: 5px 0 15px 0;
    transition: 350ms;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
                -15px -15px 30px #ffffff;
}
.projectClasse:hover{
    box-shadow: inset -10px -15px 35px #222;
}

h4{
    padding: 5px;
    color: white;
    letter-spacing: .5px;
    font-weight: normal;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.792);
}
h3{
    display: none;
    color:white;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.658);
}

#p2 h4{
    text-shadow: 0px 0px 5px black;
}

#project1{
    background: black url('../imgs/tencobus.png') no-repeat top center;
    background-size: cover;
}
#project1:hover{
    background-image: url('../imgs/tecnobus-gif.gif');
}
#project2{
    background: black url('../imgs/diskdiaristapg.png') no-repeat top center;
    background-size: cover;
}
#project2:hover{
    background-image: url('../imgs/diarista-gif.gif');
}
#project3{
    background: black url('../imgs/secking.png') no-repeat top center;
    background-size: cover;
}
#project3:hover{
    background-image: url('../imgs/secking-gif.gif');
}

#p1{
    display: none;
    transition: .3s ease;
}
#p2{
    display: none;
    transition: .3s ease;
}
#p3{
    display: none;
    transition: .3s ease;
}

.projeto{
    display: none;
}

a{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: #222;
}

.sectionMovel{
    position: absolute;
    display: none;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    padding: 15px;
    width: 350px;
    height: 380px;
    border-radius: 20px;
    z-index: 9999;
    top: 100px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.562);
    transition: .4s ease;
}
#tecnobusimg{
    background: black url('../imgs/tecnobus-gif.gif') no-repeat center center;
    background-size: cover;
    width: 320px;
    height: 180px;
    border-radius: 10px;
}
.links{
    width: 320px;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    margin: 15px 0;
    padding: 5px;
}
.sectionMovel h2{
    align-self: flex-start;
    margin: 5px 0;
}

.info-project{
    width: 390px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.info-project > span > img{
    width: 65px;
    height: 25px;
    border-radius: 10px;
}