*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
}

.file-input{
    background-color: lightgray;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(44, 44, 44, 0.25);
    width: 400px;
    height: 250px;
    display: grid;
    grid-template-areas: "stack";
    transition: all .3s;
}
.file-input:hover{
    scale: 1.05;
}

.file-input *{
    grid-area: stack;
}


.file-input input{
    opacity: 0;
}

.file-input > .drop-zone{
    margin: 12px;
    border: 2px dashed #aaa;
    border-radius: 20px;
}

.file-input.active > .drop-zone{
    margin: 14px;
    background-color: royalblue;
}

.drop-zone{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
    position: relative;
}

.drop-zone p {
    z-index: 99;
    text-shadow: rgba(54, 54, 54, 0.589) 2px 2px 20px;
}

.drop-zone img{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 500ms;
}

.file-input:hover .drop-zone img{
    opacity: 0.1;
}